:root {
  font: 16px / 1, 'Mystery Quest', cursive;
}

html {
  height: 100%;
}

body {
  font-family: 'Mystery Quest', cursive;
  font-size: large;
  margin: 0;
  min-height: 100%;
  background-image: url(/images/hogwarts.jpeg);
  /* background: url("image/swimmers.jpeg") auto 749px; */
  background-color: #0c1245;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

h1 {
  text-align: center;
  letter-spacing: 8px;
  font-family: 'Mystery Quest', cursive;
  font-size: 90px;
  margin: 2rem 0 0rem 0;
}
h3 {
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Mystery Quest', cursive;
  font-size: 30px;
  margin: 0rem 0 5rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 18rem;
  min-height: 14rem;
  border: thin solid yellow;
  font-size: larger;
  letter-spacing: 1.75px;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: #4c2167;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}
.opacity {
  opacity: 0.9;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.5rem;
  margin-top: 1rem;
}

fieldset i.rock {
  color: #ffffff;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪄</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.rock:hover {
  color: yellow;
  font-size: 55px;
  margin: 0;
}

fieldset i.paper {
  color: #ffffff;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪄</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.paper:hover {
  color: yellow;
  font-size: 55px;
  margin: 0;
}
fieldset i.scissors {
  color: #ffffff;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪄</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.scissors:hover {
  color: yellow;
  font-size: 55px;
  margin: 0;
}
aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
  min-width: 8rem;
  border: thin solid yellow;
  border-radius: 0.2rem;
  background-color: #4c2167;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪄</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.reset:hover {
  color: yellow;
  font-size: 35px;
}
.stroke-text {
  color: #ffffff;
  text-shadow: -8px -1px 2px #4c2167, 1px 1px 1px yellow, 1px 1px 0px yellow,
    -1px -1px 8px yellow;
}
.stroke-text-h3 {
  color: #ffffff;
  text-shadow: -6px -1px 2px #4c2167, 0px 0px 0px yellow, 0px 0px 0px yellow,
    0px 0px 8px yellow;
}
